:root {
  --main-bg-color: #0e1116;
  --secondary-bg-color: #22262d;

  --light-text-color: #f0f6fc;
  --secondary-text-color: #666671;

  --cta-button-color: #c5f74f;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/Inter-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Inter-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Inter-SemiBold.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Inter-Bold.ttf') format('opentype');
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: var(--main-bg-color);
  color: var(--light-text-color);
}

:not(.MuiPopover-root).MuiModal-root .MuiBackdrop-root {
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.5) !important;
  background-color: hsla(0, 0%, 100%, 0.15) !important;
}

.Joy-focused {
  --Input-focusedHighlight: var(--cta-button-color) !important;
}

.MuiOption-root {
  background-color: red;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--cta-button-color) !important;
}

.MuiPaper-root .MuiList-root {
  background: #171b21;
  color: #cad1d8;
}

.MuiPaper-root .MuiList-root li:hover {
  background: #22262d;
}

.MuiPaper-root .MuiList-root li:last-child {
  margin-top: 8px;
}

.MuiPaper-root .MuiList-root li {
  font-size: 14px;
}

.MuiPaper-root .MuiList-root .Mui-selected {
  background: #22262d;
}

.MuiPaper-root .MuiList-root .Mui-selected:hover {
  background: #22262d;
}

#delete-table-popover .MuiPaper-root {
  background: #171b21;
  padding: 8px 16px;
}
