:root {
  --main-bg-color: #0e1116;
  --secondary-bg-color: #22262d;

  --light-text-color: #f0f6fc;
  --secondary-text-color: #666671;

  --cta-button-color: #8866ff;
  --cta-button-hover-color: #a28df8;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background: var(--main-bg-color);
  color: var(--light-text-color);
}

.MuiTypography-root {
  font-family: 'Inter' !important;
}
